<style>
    #sysconfGlobalGroup-edit {
        padding: 20px 25px 25px 0;
    }
    #sysconfGlobalGroup-edit .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    .layui-form-select .layui-input {
        padding-right: 0px;
        cursor: pointer;
    }
</style>
<div class="layui-fluid" id="sysconfGlobalGroup-edit">
    <form class="layui-form" action="" lay-filter="sysconfGlobalGroup-edit-form">
        <div class="layui-form-item">
            <div class="layui-form-item febs-hide">
                <label class="layui-form-label">:</label>
                <div class="layui-input-block">
                    <input type="text" name="id" data-th-value="${sysconfGlobalGroup.id}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label febs-form-item-require">分组编码:</label>
                <div class="layui-input-block">
                    <input type="text" name="groupCode"
                           autocomplete="off" class="layui-input" lay-verify="required" data-th-value="${sysconfGlobalGroup.groupCode}" data-th-readonly="${sysconfGlobalGroup.id != null}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label febs-form-item-require">分组名称:</label>
                <div class="layui-input-block">
                    <input type="text" name="groupName"
                           autocomplete="off" class="layui-input" lay-verify="required" data-th-value="${sysconfGlobalGroup.groupName}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注:</label>
            <div class="layui-input-block">
                <textarea name="remark" maxlength="100"
                          class="layui-textarea" data-th-text="${sysconfGlobalGroup.remark}"></textarea>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="sysconfGlobalGroup-edit-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            treeSelect = layui.treeSelect,
            form = layui.form,
            $view = $('#sysconfGlobalGroup-edit'),
            sysconfGlobalGroup = [[#{sysconfGlobalGroup}]],
            validate = layui.validate;

        form.verify(validate);
        form.render();

        form.on('submit(sysconfGlobalGroup-edit-form-submit)', function (data) {
            febs.post(ctx + 'sysconf/sysconfGlobalGroup/save', data.field, function () {
                layer.closeAll();
                $('#febs-sysconfGlobal').find('#query').click();
            });
            return false;
        });
    });
</script>