<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handturn.bole.sysconf.mapper.SysconfCodeRuleSeqMapper">

    <resultMap id="sysconfCodeRuleSeq" type="com.handturn.bole.sysconf.entity.SysconfCodeRuleSeq">
        <id column="id" property="id"/> <!--//-->
        <result column="ruleCode" property="ruleCode"/>  <!--//规则编号-->
        <result column="ruleName" property="ruleName"/>  <!--//规则名称-->
        <result column="ruleCodeKey" property="ruleCodeKey"/>  <!--//规则键-->
        <result column="ruleCodeInit" property="ruleCodeInit"/>  <!--//初始值-->
        <result column="seqNum" property="seqNum"/>  <!--//流水号-->
        <result column="remark" property="remark"/>  <!--//备注-->
        <result column="status" property="status"/>  <!--//状态: enabled-有效;disabled-无效-->
        <result column="isSysCreated" property="isSysCreated"/>  <!--//是否系统创建(1:是 0:否)，系统创建的记录不能前台修改和删除-->
        <result column="recordVersion" property="recordVersion"/>  <!--//数据版本-->
        <result column="createDate" property="createDate"/>  <!--//新增时间-->
        <result column="createUserCode" property="createUserCode"/>  <!--//新增用户编码-->
        <result column="createUserName" property="createUserName"/>  <!--//新增用户名-->
        <result column="lastUpdDate" property="lastUpdDate"/>  <!--//最后修改时间-->
        <result column="lastUpdUserCode" property="lastUpdUserCode"/>  <!--//最后修改用户编码-->
        <result column="lastUpdUserName" property="lastUpdUserName"/>  <!--//最后修改用户名-->
    </resultMap>

    <sql id="SqlWithSysconfCodeRuleSeqSelectAll">
        SELECT
            SysconfCodeRuleSeq.id AS id,
            SysconfCodeRuleSeq.rule_code AS ruleCode,
            SysconfCodeRuleSeq.rule_name AS ruleName,
            SysconfCodeRuleSeq.rule_code_key AS ruleCodeKey,
            SysconfCodeRuleSeq.rule_code_init AS ruleCodeInit,
            SysconfCodeRuleSeq.seq_num AS seqNum,
            SysconfCodeRuleSeq.remark AS remark,
            SysconfCodeRuleSeq.status AS status,
            SysconfCodeRuleSeq.is_sys_created AS isSysCreated,
            SysconfCodeRuleSeq.record_version AS recordVersion,
            SysconfCodeRuleSeq.create_date AS createDate,
            SysconfCodeRuleSeq.create_user_code AS createUserCode,
            SysconfCodeRuleSeq.create_user_name AS createUserName,
            SysconfCodeRuleSeq.last_upd_date AS lastUpdDate,
            SysconfCodeRuleSeq.last_upd_user_code AS lastUpdUserCode,
            SysconfCodeRuleSeq.last_upd_user_name AS lastUpdUserName
        FROM sysconf_code_rule_seq AS SysconfCodeRuleSeq
    </sql>

    <select id="findForPage" parameterType="sysconfCodeRuleSeq" resultType="sysconfCodeRuleSeq">
        <include refid="SqlWithSysconfCodeRuleSeqSelectAll"/>
        WHERE 1=1

            <if test="sysconfCodeRuleSeq.ruleCode != null and sysconfCodeRuleSeq.ruleCode != ''">
                AND SysconfCodeRuleSeq.rule_code = #{sysconfCodeRuleSeq.ruleCode}
            </if>
            <if test="sysconfCodeRuleSeq.ruleName != null and sysconfCodeRuleSeq.ruleName != ''">
                AND SysconfCodeRuleSeq.rule_name = #{sysconfCodeRuleSeq.ruleName}
            </if>
            <if test="sysconfCodeRuleSeq.status != null and sysconfCodeRuleSeq.status != ''">
                AND SysconfCodeRuleSeq.status = #{sysconfCodeRuleSeq.status}
            </if>
    </select>
</mapper>
