<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handturn.bole.system.mapper.SysOrganizationDepMapper">

    <resultMap id="sysOrganizationDep" type="com.handturn.bole.system.entity.SysOrganizationDep">
        <id column="id" property="id"/>
        <result column="dep_code" property="depCode"/>
        <result column="dep_name" property="depName"/>
        <result column="dep_short_name" property="depShortName"/>
        <result column="parent_dep_id" property="parentDepId"/>
        <result column="org_id" property="orgId"/>
        <result column="oc_id" property="ocId"/>
        <result column="address" property="address"/>
        <result column="region" property="region"/>
        <result column="city" property="city"/>
        <result column="province" property="province"/>
        <result column="country" property="country"/>
        <result column="post_code" property="postCode"/>
        <result column="tel" property="tel"/>
        <result column="cell" property="cell"/>
        <result column="fax" property="fax"/>
        <result column="email" property="email"/>
        <result column="attention_to" property="attentionTo"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="record_version" property="recordVersion"/>
        <result column="create_date" property="createDate"/>
        <result column="create_user_code" property="createUserCode"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="last_upd_date" property="lastUpdDate"/>
        <result column="last_upd_user_code" property="lastUpdUserCode"/>
        <result column="last_upd_user_name" property="lastUpdUserName"/>
    </resultMap>
</mapper>
